<div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="">
        <!-- <h4>Pesquisar</h4> -->
        <div>
            <form action="/resultado-pesquisa/" method="GET" class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisa..." name="q">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit" value="pesquisar"><i class="fa fa-search"></i></button>
                </span>
            </form>
            
        </div>  
        <!-- /.input-group -->
    </div>

</div>